.main{
    margin-left: 4%;
    margin-right: 4%;
}

body{
    background-color: black;
    color: white;
}
@font-face {
        font-family: safiro;
        src: url(./safiro-medium-webfont.ttf)format("truetype");
        font-display: swap
}

h1, p{
    font-family: safiro;
    font-weight: 1;
}
#log {
    width: 50px;
    position: fixed;
    top: 2vh;
    left: 9vh;
}
#hr {
    margin-bottom: 6vh;
}
p {
    font-size: 20px;
}

small {
    font-family: safiro;
    font-size: 15px;
}

#back {
    display: block;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    position: fixed;
    top: 1vh;
    left: 0;
}

#back:hover {
    background-color: rgb(255, 137, 27);;
}

#submit {
    border: 1px solid white;
    display: inline-block;
    padding: 10px;
    border-radius: 12px;
    color: black;
    background-color: white;
    position: fixed;
    top: 3vh;
    right: 8vw;
    cursor: pointer;
    font-family: safiro;
    font-weight: 1;
    text-decoration: none;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    font-family: safiro;
    font-weight: 1;

}

#titl {
    padding: 10px;
    font-size: 2em;
    font-family: safiro;
    font-weight: 1;
    position: fixed;
    top: 1.3vh;
    left: 8.5vw;
    color: white ;
    border: none;
    outline: none;
    background-color: black;
    width: 70vw;


}
#start {
    height: 75vh;
    width: 88vw;
    padding: 20px;
    font-family: safiro;
    font-weight: 1;
    font-size: 20px;
    outline: none;
    resize: none;
    background-color: black;
    color: white;
    border-radius: 8px;
}

