<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='clogin.css') }}">

    <link rel="shortcut icon"
          href="https://cdn.hackclub.com/019fa7be-ff73-7b05-bfe8-06f4a1d2d316/Untitled%20design.png"
          type="image/x-icon">
</head>

<body>
<div class="main">

    <div class="logc">

        <h1 id="login">Change Password</h1>

        <img
            id="loginimg"
            src="https://i.pinimg.com/736x/bd/9d/58/bd9d58553949b4601183a950d1d81d92.jpg"
            alt="">

        <img
            id="log"
            src="https://cdn.hackclub.com/019fa7be-ff73-7b05-bfe8-06f4a1d2d316/Untitled%20design.png"
            alt="">

        <form method="POST">

            <input
                type="password"
                name="old_password"
                placeholder="Current Password"
                id="user"
                required
            >

            <input
type="password"
name="new_password"
placeholder="New Strong Password"
id="pass"
required
>

            <button id="logb" type="submit">
                Save
            </button>

        </form>

        <a id="reg" href="{{ url_for('settings') }}">
            ← Back to Settings
        </a>

    </div>

</div>
</body>
</html>