<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>Change Password</title>

</head>

<body>

<a href="{{ url_for('settings') }}">
    ← Back
</a>

<h1>Change Password</h1>

<form method="POST">

    <input
    type="password"
    name="old_password"
    placeholder="Current Password"
    required>

    <br><br>

    <input
    type="password"
    name="new_password"
    placeholder="New Password"
    required>

    <br><br>

    <button>

        Save

    </button>

</form>

</body>
</html>