<!DOCTYPE html>
<html>
<head>

<title>Edit {{ note.title }}</title>

<link rel="stylesheet"
    href="{{ url_for('static', filename='edit.css') }}">

<link rel="shortcut icon" href="https://cdn.hackclub.com/019fa7be-ff73-7b05-bfe8-06f4a1d2d316/Untitled%20design.png" type="image/x-icon">

</head>


<body>

<div class="main">

    <h1>
        &nbsp;
    </h1>

    <img id="log" src="https://cdn.hackclub.com/019fa7be-ff73-7b05-bfe8-06f4a1d2d316/Untitled%20design.png" alt="">


    <hr id="hr">


    <form method="POST">


        <input
        type="text"
        name="title"
        id="titl"
        value="{{ note.title }}"
        required>


        <textarea
        name="note"
        id="start"
        required>{{ note.content }}</textarea>


        <button id="submit" type="submit">
            Save
        </button>


    </form>


    <a href="{{ url_for('view_note', id=note.id) }}" id="back">
        <h1>←</h1>
    </a>


</div>


</body>
</html>