<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>

<body>
<div class="main">
    
    <h1>My Notes</h1>
    
    <form action="/add" method="POST">
        <input type="text" name="note" placeholder="Write a note">
        <button>Add</button>
    </form>
    
    
    {% if notes %}
    
        {% for note in notes %}
    
            <div>
                <p>{{ note.content }}</p>
    
                <a href="{{ url_for('edit', id=note.id) }}">
                    Edit
                </a>
    
                <a href="{{ url_for('delete', id=note.id) }}">
                    Delete
                </a>
            </div>
    
        {% endfor %}
    
    {% else %}
    
    <p>No notes yet</p>
    
    {% endif %}
    
</div>

</body>
</html>