<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Notes</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" href="https://cdn.hackclub.com/019fa7be-ff73-7b05-bfe8-06f4a1d2d316/Untitled%20design.png" type="image/x-icon">

</head>

<body>
<div class="main">

    <header>

        <h1 id="my" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My Notes</h1>
        <img id="log" src="https://cdn.hackclub.com/019fa7be-ff73-7b05-bfe8-06f4a1d2d316/Untitled%20design.png" alt="">

        <hr id="hr" >

        <div class="top-right">

            <a href="/new" id="new-note">
                <p id="new" >+ create</p>
            </a>

            <div class="profile">

                <button id="profile-btn">
                    <img id="profid" src="https://cdn.hackclub.com/019fa86c-0540-770a-a637-d816a0c79e2e/Untitled%20design%20(3).png" alt="">
                </button>

                <div id="profile-menu">

                    <p>Hi {{ current_user.username }} !</p>

                    <a class="link" href="/settings">
                        Settings
                    </a>
                    <a class="link" href="/logout">
                        Logout
                    </a>

                </div>

            </div>

        </div>

    </header>


    {% if notes %}

        <div class="notes-grid">

        {% for note in notes %}

            <a
            class="note-card"
            href="{{ url_for('edit', id=note.id) }}">

                <div class="tit">
                    
                    <h2>
                        {{ note.title }}
                    </h2>
                    <small>
                        {{ note.created_at.strftime("%d %b %Y") }}
                    </small>
                </div>

                <p>

                    {{ note.content[:150] }}

                    {% if note.content|length > 150 %}
                        ...
                    {% endif %}

                </p>

            </a>

        {% endfor %}

        </div>

    {% else %}

        <div class="empty">

            <h2>No Notes Yet</h2>

            <p>

                Click the + button to create your first note.

            </p>

        </div>

    {% endif %}

<script>
const profileBtn = document.getElementById("profile-btn");
const profileMenu = document.getElementById("profile-menu");

profileBtn.onclick = (e) => {
    e.stopPropagation();
    profileMenu.classList.toggle("show");
};


profileMenu.onclick = (e) => {
    e.stopPropagation();
};


document.onclick = (e) => {

    if(profileMenu.classList.contains("show")) {

        profileMenu.classList.remove("show");

        e.preventDefault();
        e.stopPropagation();

    }

};
</script>
</body>

</div>

</body>
</html>