<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Notes</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='index.css') }}">

</head>

<body>

<div class="main">

    <header>

        <h1>My Notes</h1>
        <hr>

        <div class="top-right">

            <a href="/new" id="new-note">
                <p id="new" >+ create</p>
            </a>

            <div class="profile">

                <button id="profile-btn">
                    👤
                </button>

                <div class="profile-menu">

                    <p>{{ current_user.username }}</p>

                    <a href="/settings">
                        Settings
                    </a>

                    <a href="/logout">
                        Logout
                    </a>

                </div>

            </div>

        </div>

    </header>


    {% if notes %}

        <div class="notes-grid">

        {% for note in notes %}

            <a
            class="note-card"
            href="{{ url_for('edit', id=note.id) }}">

                <small>

                    {{ note.created_at.strftime("%d %b %Y") }}

                </small>

                <h2>

                    {{ note.title }}

                </h2>

                <p>

                    {{ note.content[:150] }}

                    {% if note.content|length > 150 %}
                        ...
                    {% endif %}

                </p>

            </a>

        {% endfor %}

        </div>

    {% else %}

        <div class="empty">

            <h2>No Notes Yet</h2>

            <p>

                Click the + button to create your first note.

            </p>

        </div>

    {% endif %}

</div>

</body>
</html>