<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>New Note</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='new.css') }}">
    <link rel="shortcut icon" href="https://cdn.hackclub.com/019fa7be-ff73-7b05-bfe8-06f4a1d2d316/Untitled%20design.png" type="image/x-icon">

</head>

<body>
<div class="main">
    
    <div class="main">
    
        <header>
    
            <a href="{{ url_for('home') }}" id="back">
                <h1>←</h1>
            </a>
    
        <h1 id="my" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My Notes</h1>
        <img id="log" src="https://cdn.hackclub.com/019fa7be-ff73-7b05-bfe8-06f4a1d2d316/Untitled%20design.png" alt="">
    
        </header>

        <hr id="hr" >
    
        <form
        action="{{ url_for('add') }}"
        method="POST">
    
            <input
            type="text"
            name="title"
            placeholder="Title"
            required
            maxlength="100"
            id="titl">
    
            <textarea
            name="note"
            placeholder="Start writing..."
            rows="18"
            id="start"
            required></textarea>
    
            <div class="actions">
    
                <button id="submit" type="submit">
                    Save Note
                </button>
    
            </div>
    
        </form>
    
    </div>
</div>

</body>
</html>