<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">

</head>

<body>
<div class="main">
    
    <h1 id="create" >Create Account</h1>
    <img id="loginimg" src="https://i.pinimg.com/736x/bd/9d/58/bd9d58553949b4601183a950d1d81d92.jpg" alt="">
        <img id="log" src="https://cdn.hackclub.com/019fa7be-ff73-7b05-bfe8-06f4a1d2d316/Untitled%20design.png" alt="">
    
    <form method="POST">
    
        <input
            type="text"
            name="username"
            placeholder="Username"
            id="user"
        >
    
        <input
            type="password"
            name="password"
            placeholder="Password"
            id="pass"
        >
    
        <button id="logb" >
            Register
        </button>
    
    </form>
    
    <a id="reg" href="/login">
        Already have account?
    </a>
</div>

</body>
</html>